.App {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.formik {
  background-color: azure;
  border-radius: 0.5rem;
  margin-top: 15vh;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  min-width: fit-content;
}
.formik > h1 {
  margin-top: 0.2rem;
  padding: 2rem;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .formik {
    margin-top: 20vh;
    margin-left: 20px;
    margin-right: 20px;
  }
}
